<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regist wenyan.online</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/base.css') }}">
</head>
<body>
        <form action="" method="post">
        {# 盒子top #}
        <div class="div_container_top">
            
            {# 做一个居中显示的盒子 #}
            <div class="div_container_top_center">

                {# 放置logo #}
                <div class="div_container_top_logo">
                    <img src="{{ url_for('static', filename='IMAGE/logo.png') }}" alt="logo">
                </div>
                {# 登录消息 #}
                <div class="div_container_top_word">
                    register wenyan.onlie
                </div>
            </div>

        </div>

        {# 盒子main #}
        <div class="div_container_main">
            
            {# 居中显示的盒子 #}
            <div class="div_container_main_center">
                {# 在这个盒子中 放所有的 登录框 和 文字 #}

                <div class="div_main_first">
                    
                    <div class="div_first_word">
                        Username or Email
                    </div>

                </div>

                <div class="div_main_second">
                    <div class="search">
                        <input type="text" name="username" placeholder="Username">
                    </div>

                </div>

                <div class="div_main_third">
                    <div class="div_first_word">
                        Password
                    </div>
                </div>

                <div class="div_main_fourth">
                    <div class="search">
                        <input type="text" name="passwd" placeholder="Password">
                    </div>
                </div>

                <div class="div_main_third">
                    <div class="div_first_word">
                        Phone
                    </div>
                </div>

                <div class="div_main_fourth">
                    <div class="search">
                        <input type="text" name="phone" placeholder="Phone">
                    </div>
                </div>

                <div class="div_main_seventh">
                    <div class="div_seventh_button">
                        <input type="submit" value="Regist">
                    </div>
                </div>
            </div>
        </div>

        {# 盒子foot #}
        <div class="div_container_foot">

            <div class="div_foot_main">

                <div class="div_main_eighth">
                    <div class="div_eighth_word1">
                        New to  wenyan.online
                    </div>

                    <div class="div_eighth_word2">
                        <a href="#">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>