<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="" method="post">
        {# 解决csrf_token #}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <label for="">Email:</label>
            <input type="text" placeholder="email" name="email">
        </div>
        <div>
            <label for="">Password:</label>
            <input type="password" placeholder="password" name="password">
        </div>
        <div>
            <label for="">Repeat Password:</label>
            <input type="password" placeholder="Repeat password" name="con_password">
        </div>
        <input type="submit" name="Reset">
    </form>
</body>
</html>