<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>

<body>
    <form action="" method="post">
        <p><label for="">username:</label><input type="text" name=username></p>
        <p><label for="">password:</label><input type="password" name="password"></p>
        <p><input type="submit" value="Login"></p>
        <p><label for="">30 days remember me</label> <input type="checkbox" name="remember"></p>
    </form>
</body>

</html>