<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="" method="POST">
        <p><label for="">username:</label><input type="text" name=username></p>
        <p><label for="">password:</label><input type="password" name="password"></p>
        <p><label for="">repeat password:</label><input type="password" name="reppassword"></p>
        <p><input type="submit" value="Login"></p>
        {{ msg }}
    </form>
</body>

</html>