<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>上传文件</td>
                <td><input type="file" name="photo"></td>
            </tr>
            <tr>
                <td><label for="#"><input type="submit"></label></td>
            </tr>
        </table>
    </form>
</body>

</html>