<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_password</title>
</head>
<body>
    <h3>Change Password</h3>
    <form action="" method="post">
        {# 解决csrf_token #}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <label for="">Old Password:</label>
            <input type="password" placeholder="old password" name="old_password">
        </div>
        <div>
            <label for="">New Password:</label>
            <input type="password" placeholder="new password" name="new_password">
        </div>
        <div>
            <label for="">Repeat Password:</label>
            <input type="password" placeholder="repeat Password" name="rep_password">
        </div>
        <div><input type="submit" value="change"></div>
    </form>
</body>
</html>